.imgLookingCars{
    width: 50% !important;
    float: right  !important;
    background-size: 100% 100% !important;
    border-radius: 8px !important;
}
.approach{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 13px;
    margin-bottom: 10px;
}
.AboutBtn{
    display: flex;
    max-width: 400px;
    margin: auto;

}
.btnWhatsappAbout{
    background-color:var(--white);  /* Green */
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: var(--theme-color);
    padding: 2px 7px;
    border-radius: 3px;
    width: 100%;
    font-size: 1.1rem;
    margin-right: 10px;
    border: 1px solid var(--theme-color);
}
.btnWhatsappAbout:hover{
    background-color: var(--theme-color); /* Green */
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: var(--white);
    padding: 2px 7px;
    border-radius: 3px;
    width: 100%;
    font-size: 1.1rem;
    margin-right: 10px;
   
}
.btnCallusAbout{
    background-color: var(--theme-color);  /* Green */
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: var(--white);
    padding: 5px 12px;
    border-radius: 3px;
    width: 100%;
    font-size: 1.1rem;
    border: 1px solid var(--theme-color);
  
}

.btnCallusAbout:hover{
    background-color: var(--white); /* Green */
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: var(--theme-color); 
    padding: 5px 12px;
    border-radius: 3px;
    width: 100%;
    font-size: 1.1rem;
  
}
.iconHome{
    font-size: 1.2em;
    margin-right: 5px;
    margin-top: 1px;
}
.ParagraphName {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.IconPara {
    color: var(--theme-color);
    margin-right: 8px;
    font-size: 16px;
    margin-top: 3px;
}
.ParagraphNotWorking{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
}
.paraGrahpNotWorking{
    display: flex;
    line-height: 1.7rem;
    font-size: 1.1rem;
}



@media screen and (max-width: 565px) {

    .imgLookingCars{
        width: 100% !important;
        max-height: 300px!important;
        background-size: 100% 100%!important;
        border-radius: 6px!important;
       
    }
    .btnWhatsappAbout{
        background-color:var(--theme-color); 
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        color: var(--white);
        padding: 5px 12px;
        border-radius: 3px;
        width: 100%;
        font-size: 1.2rem;
        margin-right: 10px;
    }
    .btnCallusAbout{
        background-color: var(--theme-color);
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        color: var(--white);
        padding: 5px 12px;
        border-radius: 3px;
        width: 100%;
        font-size: 1.3rem;
        border: 1px solid var(--theme-color);
        margin-right: 10px;
    }
    .paraGraphLooking
    {
        font-size: 1rem;
        margin-top: 6px;
        text-align: justify;
        margin: 9px;
    }
    .iconHome {
        font-size: 1.2rem;
        margin-right: 6px;
        margin-top: 4px;
    }
}
