.commentConatiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.commentImg {
    width: 100px;
    height: 100px !important;
    border-radius: 50%;
    border: 5px solid rgb(179, 178, 178);
}
.commentP {
    color: gray;
    margin-left: 30px;
    font-size: large;
}
.commentAuthor {
    font-size: large;
    font-weight: 500;
    color: black;
}
.commentDate {
    font-size: medium;
}
.commetBody {
    margin-left: 129px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: flex-start;

}
.commetBodyP {
    width: 19rem;
    font-size: 13.2px;
}
.btnComment{
    font-size: larger !important;
    background-color: #f2f2f2 !important;
}
.commentMainDiv{
    border-bottom-style: dashed;
    border-bottom:2px dashed #d8d7d7 ;
}
.replyHeading{
    font-size: 35px;
    font-weight: bold;
}
.fl_icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.replyPText{
    font-size: larger;
    color: black;
}
.replyTextArea{
    width: 100%;
    height: 20vh;
    background-color: #f2f2f2;
    border: none !important;
    padding: 1.5rem;
}
.form-check-input:checked {
    background-color: #a4c639 !important;
    border-color: #a4c639 !important;
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(164 198 57 / 25%) !important;
}
.replyFormBtn{
    background-color: #76af56 !important;
    color: white !important;
    border-color: #76af56 !important;
}
@media only screen and (max-width:780px) {
    .commetBody {
        margin-left: 10px;

    }

}




