
.wrapper{

    display: flex;
   text-align: justify;
  flex-direction: column;
  border-width: 2px;
  height: initial;
    /* max-width:620px; */
    margin:0 auto;
   margin-top:105px;
    margin-bottom:55px;
    box-shadow: 4px 8px 40px 8px rgba(214, 214, 214, 0.5);
    border-width: 2px;
  }
  .wrapper a{
    text-decoration: none;
  }
  .wrapperS{
    padding :30px;
    text-align:center;

  }

  .wrapperS p{

    font-size:1.1em;
    color:#000;
    letter-spacing:1px;

  }
  .websiteLink
  {
    color: #000;
  }
  .websiteLink:hover
  {
    color: var(--theme-color);
  }
.go-home {
  border: none;
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 30px;
  text-transform: capitalize;
}
  .whatsappStyles
  {
      width: 70px !important;
    height: 70px !important;
  }

  @media (max-width:600px){

    .wrapper{
    display: flex;
   text-align: justify;
  flex-direction: column;
    height: initial;
    /* max-width:400px; */
    margin:0 auto;
    margin-top:95px;
    margin-bottom:55px;
    /* box-shadow: 4px 8px 40px 8px rgba(157, 219, 138, 0.5); */
    border-width: 2px;
  }

  .wrapperS{
    padding :30px;
    text-align:center;
    margin-top: 3px;
  }
  .thanksHead{
    font-size:1.6em;
    letter-spacing:4.5px;
    font-weight: bold;
    color:var(--theme-color) ;

    margin-bottom:20px;
  }
  .wrapperS p{

    font-size:1.1em;
    color:#000;
    letter-spacing:1px;

  }
  .gohome{
    margin-top: 8px;
  }
  .whatsappStyles
  {
      width: 70px; height: 70px;
  }

  }
